/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/**** end reset***/

body { 
	background: url(trama.png) repeat 0 0;
	}
a {
	text-decoration: none;
	}
div#wrapper {
	background: url(puntitos.png) repeat-x bottom;
	margin-bottom: 20px;
	padding-bottom: 10px;
			}
a#titulo {
		display: block;
		margin: 30px auto 0;
		width: 255px;
		text-align: right;
		}
ul#menu{
		display: block;
		margin: 20px auto 25px auto;
		width: 866px;
		height: 44px;
		border: 1px dashed #fbc0a1;
		}
ul#menu li{
	display:inline-block;
	line-height: 74px;
	vertical-align: text-top;
	width: 170px;
	height: 74px;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 28px;
	margin-top:-15px;
	}
ul#menu li.primero{

		}
ul#menu li a{
	display: inline-block;
	color: #808285;
	}
img#logo {
		display: block;
		margin: 0 auto;
		width: 155px;
		}
div#content {
		margin-top: 20px;
		}
div#content p {
		text-align: center;
		font-size: 30px;
		width: 356px;
		display: block;
		margin: 0 auto;
		font-family:'Quattrocento Sans', sans-serif;
		color: #58595b;
		}
span#taller { 
		position: relative;
		right: -48px;
		font-family: 'Kameron', serif;
		color:#6e7c81;
		font-size:24px;
		}
div#footer {
		background: url(puntilla.png) repeat-x;
		margin-bottom:46px;
		position:relative;
		height:44px;
		border-bottom: 1px dashed #bf3930;
		}

div.telefono { 
		position:absolute;
		right: 15px;
		bottom: -48px;
		line-height: 40px;
		}
div.telefono span {
		font-family: 'Oswald', sans-serif;
		font-size: 24px;
		color: #808285;
		}
img.mujer {
		position: relative;
		top:-10px;
		}
div#galeria { 
		position: relative;
		padding-left: 25px;
		margin-top: -45px;
		margin-bottom: 60px;
		border-bottom: 1px dashed #56645e;
		}
div#galeria a img {
		position: relative;
		bottom: -15px;
		}
div#galeria a {
		font-family: 'Gochi Hand', cursive;
		color: #231f20;
		font-size: 24px;
		} 
