h2#site-description { 
		position: relative;
		right: -20px;
		font-family: 'Kameron', serif;
		color:#6e7c81;
		font-size:24px;
		}
ul#menu-menu-principal{
		width:100%;
		height: 280px;
		margin-top:40px;
		}
ul#menu-menu-principal li{
	line-height: 40px;
	vertical-align: text-top;
	width: 100%;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 22px;
	
	}
ul li#menu-item-23	{
		background: url(../images/ideas1.png) no-repeat center;
		padding:28px 0;
		margin-top:-51px;
		}
ul li#menu-item-24{
		background: url(../images/novedades1.png) no-repeat center;
		padding:28px 0;
		margin-top:-50px;
		}
	
div#content p.inicio {
		text-align: center;
		font-size: 24px;
		width: 200px;
		font-family:'Quattrocento Sans', sans-serif;
		color: #58595b;
		}
div#galeria { 
		padding-left: 5%;
		margin-top: -20px;
		border-bottom: 1px dashed #56645e;
		width: 95%;
		}
div#galeria a img {
		margin-bottom: -25px;
		}
div#galeria a {
		font-family: 'Gochi Hand', cursive;
		color: #231f20;
		font-size: 24px;
		} 
footer {
		position:static;
		margin-bottom: 40px;
		width: 100%;
		height:89px;
		}
div.telefono span {
		font-family: 'Oswald', sans-serif;
		font-size: 20px;
		color: #808285;
		}
nav.container {
		width:70%;
		}