div#wrapper {
		background: url(../images/puntitos.png) repeat-x bottom;
		margin-bottom: 10px;
		padding-bottom: 0;
		height: 930px;
		}
a#titulo {
		display: block;
		margin: 0 auto 0;
		width: 150px;
		text-align: right;
		}
span#taller { 
		position: relative;
		right: -40px;
		font-family: 'Kameron', serif;
		color:#6e7c81;
		font-size:20px;
		}
ul#menu-menu-principal{
		width:100%;
		height: 280px;
		border: 1px dashed #fbc0a1;
		}
ul#menu-menu-principal li{
	line-height: 74px;
	vertical-align: text-top;
	width: 100%;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 22px;
	margin:-15px auto 0px auto;
	}
div#content p {
		text-align: center;
		font-size: 24px;
		width: 200px;
		font-family:'Quattrocento Sans', sans-serif;
		color: #58595b;
		}
div#galeria { 
		padding-left: 5%;
		margin-top: -20px;
		border-bottom: 1px dashed #56645e;
		width: 95%;
		}
div#galeria a img {
		margin-bottom: -25px;
		}
div#galeria a {
		font-family: 'Gochi Hand', cursive;
		color: #231f20;
		font-size: 24px;
		} 
footer {
		position:static;
		margin-bottom: 40px;
		width: 100%;
		height:89px;
		}
div.telefono span {
		font-family: 'Oswald', sans-serif;
		font-size: 20px;
		color: #808285;
		}
nav.container {
		width:70%;
		}